{% extends '../index.njk' %}


{% macro _aboutItem(props) %}
    <div class="row about-item">
        <div class="col-md-4" >
            <img src="{{props.imgSrc}}"/>
        </div>
        <div class="col-md-8">
            <h4>{{props.title}}</h4>
            <p>{{props.description}}</p> 
            <a href="{{props.moreUrl}}" class="link">Read More</a>
        </div>
    </div>
{% endmacro %}



{% block app %}
    <div id="about" class="container">
        <h2>关于</h2>
        <div class="container">
            <p>个人娱乐项目</p>
            <p>巴拉巴拉简介</p>
        </div>
        <div class="container about-item-container">
            {% for item in items %}
                {{ _aboutItem(item) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}