{% extends 'base.njk' %}

{% from './components/header/index.njk' import header %}
{% from './components/footer/index.njk' import footer %}

{% block userdefinedhead %}
    <link rel="stylesheet"  href="/static/css/index.css"/>
{% endblock %}

{% block header %}
    {{ header() }}
{% endblock %}

{% block app %}
hello,world
{% endblock %}

{% block footer %}
    {{ footer() }}
{% endblock %}

{% block userdefinedfoot %}
      {# <script type='text/javascript' src='/static/js/main.js'></script>  #}
{% endblock %}